@model IEnumerable<lab_2.Models.Toons.People>

@{
    ViewData["Title"] = "Index";
}

<h1>Toon People</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{ var rowColor = "a9a9a9"; }
@foreach (var item in Model) { 
    <tr>
        <td style="background-color:@rowColor;">
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td style="background-color:@rowColor;">
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td style="background-color:@rowColor;">
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td style="background-color:@rowColor;">
            @Html.DisplayFor(modelItem => item.Occupation)
        </td>
        <td style="background-color:@rowColor;">
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td style="background-color:@rowColor;">
            <img src="@Html.DisplayFor(modelItem => item.PictureUrl)" alt="flintstone" height="50" />
        </td>
    </tr>
    if (@rowColor.Equals("#a9a9a9")){
        rowColor = "#ffffff";
    } 
    else {
        rowColor = "#a9a9a9";
    }
}
    </tbody>
</table>
